{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <!-- body -->
   <body>
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Product Details</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                        <div class="col-md-6 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{{product.product_image.url}}" style=" height: 300px; width: 300px; " alt="#"/></figure><br><br>
                              {% if request.session.email %}
                                 {% if wishlist_flag == True %}
                                    <a href="{% url 'remove_from_wishlist' pk=product.pk %}"><button type="button" class="btn btn-outline-success btn-lg">Remove from Wishlist</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 {% else %}
                                    <a href="{% url 'add_to_wishlist' pk=product.pk %}"><button type="button" class="btn btn-outline-success btn-lg">Add to Wishlist</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 {% endif %}
                                 {% if cart_flag == True %}
                                    <a href="{% url 'remove_from_cart' pk=product.pk %}"><button type="button" class="btn btn-outline-dark btn-lg">Remove From Cart</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 {% else %}
                                    <a href="{% url 'add_to_cart' pk=product.pk %}"><button type="button" class="btn btn-outline-dark btn-lg">Add to Cart</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 {% endif %}
                              {% else %}
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary btn-lg">Login</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              {% endif %}
                           </div>
                        </div>
                        <div class="col-md-6 margin_bottom1">
                              <div class="product_box">
                                 <font size="5px" color="black" style="margin: 13px;"><b>Name : {{product.product_name}}</b></font><br>
                                 <font size="5px" color="black" style="margin: 13px;"><b>Discount : {{product.product_discount}} %</b></font><br>
                                 <font size="5px" color="black" style="margin: 13px;"><b>Price : <del>{{product.product_price}} INR</del></b></font><br>
                                 <font size="5px" color="black" style="margin: 13px;"><b>Discounted Price : {{product.product_discount_price}} INR</b></font><br>
                                 <font size="5px" color="black" style="margin: 13px;"><b>Description : {{product.product_desc}}</b></font><br>
                              </div>   
                        </div>   
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
   </body>
</html>
{% endblock %}
