{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <!-- body -->
   <body>
     <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                  {% if wishlists %}
                     <h2>My Wishlist</h2>
                  {% else %}
                     <h2>No Product In Wishlist</h2>
                  {% endif %}
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                        {% for i in wishlists %}
                        <div class="col-md-4 margin_bottom1">
                           <a href="{% url 'product_details' pk=i.product.pk %}">
                              <div class="product_box">
                                 <figure><img src="{{i.product.product_image.url}}" style=" height: 300px; width: 300px; " alt="#"/></figure>
                                 <h3>{{i.product.product_category}}</h3>
                              </div>
                           </a>   
                        </div>
                        {% endfor %}
                        {% if request.session.wishlist_count > 6 %}
                        <div class="col-md-12">
                           <a class="read_more" href="#">See More</a>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
   </body>
</html>
{% endblock %}
